<div class="row">
    <div class="col-xs-5">
        <div class="editor" style="padding: 20px;">
            <div class="row" style="margin-bottom: 18px">
                <div class="col-xs-6">
                    <div class="btn-group" role="group">
                        <button ng-click="changeRoute('#/index')" type="button" class="btn btn-default">Volver</button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="btn-group" role="group">
                        <a ng-href="{[{getIframeSrc(token)}]}" type="button" class="btn btn-primary" target="_blank">Exportar</a>
                        <button type="button" ng-click="reloadPreview()" class="btn btn-default">Preview</button>
                    </div>
                </div>
            </div>
            <form class="form-horizontal">
                <editor-type ng-repeat="item in variables" content="item"></editor-type>

            </form>
        </div>
    </div>
    <div class="col-xs-7">
        <iframe style="height: 100%; width:100%" id="iframe" ng-src="{[{getIframeSrc(token)}]}"></iframe>
    </div>
</div>
<script>
    jQuery("#iframe").css('height', $(window).height()+'px');
</script>