<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon md-svg-icon="call:chat"></md-icon>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">Nombre de plantilla</h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="changeRoute('#/index')">
                        Volver
                    </button>
                </md-menu>
                <md-menu>
                    <button ng-click="reloadPreview()">
                        Exportar
                    </button>
                </md-menu>
                <md-menu>
                    <a  class="md-menu-bar-button" ng-href="{[{getIframeSrc(token)}]}" target="_blank">
                        Preview
                    </a>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>
<md-content class="page-container" layout="row">
    <div flex="40">
        <div class="editor" style="padding: 20px;">
            <form>
                <editor-type ng-repeat="item in variables" content="item"></editor-type>
            </form>
        </div>
    </div>
    <div class="page" flex="60" style="padding: 20px;">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Preview</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <iframe id="preview-iframe" ng-src="{[{getIframeSrc(token)}]}"></iframe>
            </md-card-content>
        </md-card>
    </div>
</md-content>